@font-face {
    font-family: 'NorseBold'; /* Choose a name for your font */
    src: url('Norse-Bold.otf') format('opentype'), /* Path to your font file */
}

body {
    margin: 0;
    padding: 0;
}

.content {
    width: 100vw;
    height: 100vh;
}

.left-section {
    display: flex;
    height: 1000px;
    width: 667px;
    margin-right: 1250px;

}

.text-bg {
    display: flex;
    align-items: center;
    padding-left: 300px;
    height: 170px;
    width: 400px;
    margin-left: -700px;
    margin-top: 220px;
    background-color:rgba(0, 0, 0, 0.5);

}

.logo {
    display: flex;
    height: 165px;
    margin-left: -310px;
    margin-top: -5px;
}

h1 {
    display: flex;
    margin-left: 20px;
    font-family: Norsebold;
    color: white;
    font-size: 7em;
}


.right-section {
    display: flex;
    width: auto;
    height: auto;
    margin-top: -1050px;
    margin-left: 667px;
    background-color: #f9fafb;
    flex-wrap: wrap;
}

p {
    display: flex;
    margin-top: 70px;
    margin-left: 35px;
    font-family: monospace;
    font-size: 23px;

}

br {
    display: flex;
    margin-top: 30px;
}

.form-container {
    display: flex;
    border: 2px solid red;
    height: 400px;
    width: auto;
    margin-left: 667px;
}