@font-face {
    font-family: 'NorseBold'; /* Choose a name for your font */
    src: url('Norse-Bold.otf') format('opentype'), /* Path to your font file */
}

body {
    margin: 0;
    padding: 0;
}

.content {
    width: 100vw;
    height: 100vh;
}

.left-section {
    display: flex;
    height: 950px;
}

.text-bg {
    display: flex;
    align-items: center;
    padding-left: 300px;
    height: 170px;
    width: 400px;
    margin-left: -700px;
    margin-top: 220px;
    background-color:rgba(0, 0, 0, 0.5);

}

.logo {
    display: flex;
    height: 165px;
    margin-left: -310px;
    margin-top: -5px;
}

h1 {
    display: flex;
    margin-left: 20px;
    font-family: Norsebold;
    color: white;
    font-size: 7em;
}


.right-section {
    display: flex;
    width: auto;
    height: auto;
    margin-top: -1000px;
    margin-left: 634px;
    background-color: #f9fafb;
    flex-wrap: wrap;
}

p {
    display: flex;
    margin-top: 70px;
    margin-left: 35px;
    font-family: monospace;
    font-size: 20px;

}

br {
    display: flex;
    margin-top: 30px;
}

.form-container {
    display: flex;
    height: 340px;
    width: auto;
    margin-left: 634px;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.123);
}

#my-form {
    display: flex;
    width: 60vw;
    gap: 1rem;
    margin-top: 60px;
    margin-left: 40px;
    font-family: 'NorseBold';
    flex-flow: row wrap;
    color: black;
}

label {
    font-size: 2rem;
}

input {
    height: 20px;
    margin-bottom: 20px;
}


button {
  padding: .8rem 1.3rem;
  font-size: 1.3rem;
  background-color: black;
  border: 2.5px solid whitesmoke;
  border-radius: 10px;
  color: white;
  letter-spacing: -1px;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.253);
  margin-left: 675px;
  margin-top: 30px;
  animation: rainbow 3s linear infinite;
  font-size: 25px;
}

.btn-text {
    display: flex;
    margin-left: 646px;
    margin-top: -50px;
}


@keyframes rainbow {
    0% { color: red; }
    16% { color: orange; }
    32% { color: yellow; }
    48% { color: green; }
    64% { color: blue; }
    80% { color: indigo; }
    100% { color: violet; }
  }